/*  your css code here. If applicable */
img{
	object-fit: cover;
	padding-right:30px;
/* 	width:100% */
}

.hero{
	display:flex;
}

.button{
	padding:10px;
	background-color: red;
	color:white;
	text-decoration:none;
	border-radius:5px;
	text-align:center;
	margin-left:50px;
}

p{
	padding-bottom:5px;
}