/*  your css code here. If applicable */
.image{
	object-fit:cover;
/* 	margin-right:"10px"; */
	padding-right:30px
}

.hero{
	display:flex;
}

.button{
	padding:10px;
	background-color: red;
	color:white;
	text-decoration:none;
	border-radius:5px;
	text-align:center;
	margin-left:50px;
}

p{
	padding-bottom:5px;
}